*/30 * * * * root /usr/local/bin/node /usr/src/app/app/index.js >> /var/log/cron.log 2>&1
# * * * * * root echo "Hello" >> /var/log/cron.log 2>&1
# An empty line is required at the end of this file for a valid cron file.

