# copy this file and rename it to .env, then fill it in!

# REQUIRED: 1. add a flowdock token
# your flowdock api can be found at
# https://www.flowdock.com/account/tokens
FLOWDOCK_PERSONAL_API_TOKEN=c656ccab5x30353a7ec32s4s2b91c146


# REQUIRED: 2. add the list of flows you like to index
# You can use this command to list all the flows that are accessible by your token:
# $ npm run list-flows
FLOWS_TO_DOWNLOAD=flowdock-organization-name/flow-name, another-organization/another-flow-name


# OPTIONAL: 3. add an elasticsearch index name. This is like the database name in elasticsearch land, choose it freely! No need to change this one either!
INDEX_NAME=flowdock

# OPTIONAL: 4. add an elasticsearch host
# the default is good if you're runnning using full docker mode
# For development you probably need to set it to 127.0.0.1:9200 or
# wherever your elasticsearch is running on
ELASTICSEARCH_HOST=elasticsearch:9200
